<nav id="main-navbar">
  <ul>
    <li class="title">Proteins: {{selectedTissue}}</li>
  </ul>
</nav>
<div id="tissue-diagram-wrapper">
  <section>
    <article>
        <div class="card">
          <header>Tissue Weight Norms</header>
          <section>
            {{horizontal-bar-chart data=tissueWeightNormData selectedSeedColor=seedColor.green}}
          </section>
        </div>
        <div class="card">
          <header>Proteins</header>
          <section>
            <ul class="item-list">
              {{#each protein in proteins}}
                <li>
                  {{#link-to 'explore.protein' protein}}
                    <strong>{{protein.proteinName}}</strong>
                    <div class="text-muted">{{protein.geneName}}</div>
                    <div class="right-arrow">
                      <i class="fa fa-lg fa-chevron-right"></i>
                    </div>
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </section>
      </div>

    </article>
  </section>
</div>