$tissues-diagram-width: 500px;

#tissues-diagram {
  min-height: 100%;
  height: 100%;
  width: $tissues-diagram-width;

  position: absolute;
  top: 0;
  bottom: 0;
  left: $nav-width;
  display: block;
  z-index: 1;
}