html, body {
  margin: 0;
}

body {
  padding-top: 50px;
}

.sidebar {
  background: white;
  border-right: 1px solid #E8E8E8;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 500px;
}

.tab-wrap {
  padding: 15px 15px 015px 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.sidebar-padding {
  padding: 0 15px 15px 15px;
  position: relative;

}

.toggle-tabs.dark {
  border: 1px solid #2E2E2E;
  background: white;
}
.toggle-tabs.dark li .active {
  color: white;
  background: #2E2E2E;
}

.toggle-tabs.dark li a {
  color: #2E2E2E;
  cursor: pointer;
}

.toggle-tabs.dark li:first-child a {
  border-right: 1px solid #2E2E2E;
}

.bottom {
  position: absolute;
  bottom: 45px;
  padding: 15px;
}


.toggle-tabs {
  width: 100%;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  border-radius: 4px;
  padding: 0;
  list-style: none;
  display: table;
  border: 1px solid #5BB75B;
  background: white;
}

.toggle-tabs li {
  display: table-cell;
  width: 1%;
  float: none;
}

.toggle-tabs li a {
  text-align: center;
  display: block;
  padding: 7px 14px;
  font-size: 14px;
  color: #5BB75B;
  text-decoration: none;
}

.toggle-tabs li .active {
  color: white;
  background: #5BB75B;
}

.toggle-tabs li:first-child a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid #5BB75B;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list {
  margin-top: 15px;
}

.item-list li {
  font-size: 24px;
}
.item-list li a {
  color: #333;
  padding: 5px 15px;
  line-height: 30px;
  text-align: left;
  border: 1px solid #E8E8E8;
  width: 100%;
  display: block;
  margin-bottom: -1px;
}

.item-list li a:hover {
  text-decoration: none;
  background-color: #F8F8F8;
}

.proteins-header {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  line-height: 36px;
  padding: 15px;
  font-size: 36px;
}