@import "variables";
@import "base";
@import "layout";

// @import "bourbon";
// @import "grid-settings";
// @import "neat";




// $ecm-green: #5BB75B;
$left-nav-size: 450px;
$left-nav-color: white;
$base-body-color: whitesmoke;
$nav-border-color: #ededed;

// $nav-height: 70px;
// @import "left-nav";
// @import "main";
// @import "main-navbar";
// @import "toggle-tabs";


$fa-font-path: "/assets/fonts" !default;
@import "bower_components/font-awesome/scss/font-awesome";
@import "explore";
// @import "explore-tissue-diagram";

// @import "front";

// $card-padding: 15px;
// .card {
//   background-color: white;
//   border: 0px solid $nav-border-color;

//   border-radius: 2px;
//   margin-top: 20px;

//   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
//   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
//   box-shadow: 0 1px 2px rgba(0,0,0,0.3);

//   header {
//     border-bottom: 1px solid $nav-border-color;
//     font-size: 28px;
//     color: #333;
//     padding: $card-padding;
//   }

//   section {
//     padding: $card-padding;
//   }
// }

// .checkbox {
// }
// .checkbox label {
//   vertical-align: middle;
// }

// header, .title, .navbar-brand {
//   font-family: 'Slabo 27px', serif;
// }

// #about-page {
//   margin-top: 80px;
//   @include outer-container;

//   h1 {
//     font-size: 42px;
//     border-bottom: 1px solid #BABABA;
//   }
//   hr {
//     border-color: #BABABA;
//   }
//   p {
//     font-size: 1.15em;
//   }

//   article {
//     @include shift(1);
//     @include span-columns(10);
//   }

//   .about-link {
//     font-size: 4em;
//     text-align: center;
//   }
// }

@import "loading";
