<nav>
  <div class="brand" style="background-color:#F8F8F8;">
    <header style="color:#333;">ECM Atlas</header>
    <a href="#" class="logo" style="color:#333;"><i class="fa fa-2x fa-home"></i></a>

  </div>
  <hr>
  <ul class="nav-group tasks">
    <li>
      {{#link-to 'explore' class='explore'}}
        <i class="fa fa-lg fa-fw fa-globe"></i> Explore
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'datasets' class='datasets'}}
        <i class="fa fa-lg fa-fw fa-dabase"></i> Datasets
      {{/link-to}}
    </li>
  </ul>
  <hr>
</nav>