<div id="site-nav-fixed">
  <ul class="nav navbar-nav">
    {{#link-to 'index' class='navbar-brand'}}
      <img src="assets/images/rev1/logo-white-sm.png">
    {{/link-to}}
    <li>
      {{#link-to 'explore'}}Explore{{/link-to}}
    </li>
    <li>
      {{#link-to 'datasets'}}Datasets{{/link-to}}
    </li>
    <li>
      {{#link-to 'search'}}Search{{/link-to}}
    </li>
  </ul>
</div>