<div id="nav" class="section scrollable-container">
  <div class="section-header section-brand-dark content-pad">
    <a href="#"><h2><i class="fa fa-bars"></i></h2></a>
  </div>

  <div class="section-header section-header-content">
    <a href="/"><h2>ECM Atlas</h2></a>
  </div>

  <div class="nav-inner">
    <div class="pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">{{#link-to 'explore' class="pure-menu-link"}}Explore{{/link-to}}</li>
        <li class="pure-menu-item">{{#link-to 'datasets' class="pure-menu-link"}}Datasets{{/link-to}}</li>
        <li class="pure-menu-item">{{#link-to 'search' class="pure-menu-link"}}Search{{/link-to}}</li>
        <li class="pure-menu-item">{{#link-to 'about' class="pure-menu-link"}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>