{{partial 'atlas/header'}}

<section id="about-page">
    <article>
    <h1 class="title">An Introduction...</h1>
    <p>The extracellular matrix (ECM) is composed of approximately 200 proteins that form the structural scaffolding for most tissues.</p>
    <p>In addition to defining many of the physical characteristics of a tissue, the ECM provides storage and regulation of signaling molecules, and biochemical queues through Cell-ECM contacts.</p>
    <p>These interactions support organ homeostasis, or conversely, influence disease progression. Despite the importance of the ECM in health and disease our understanding of ECM biology pales in comparison to most classes of intracellular proteins.</p>
    <p>Biochemical characterization of ECM proteins has been hampered due to many ECM proteins resistance to standard sample preparation methods.</p>
    <p>As a result, analyses of ECM proteins by traditional proteomic techniques have proven to be challenging.</p>
    <p>One goal of the site is to a facilitate method development efforts by providing a platform to compare results from various ECM analysis experiments.</p>
    <hr>
    <h2 class="title">The Atlas as a Resource</h2>
    <p>ECM Atlas is a resource for the scientific community to facilitate discoveries in matrix biology.</p>
    <p>The site hosts a curated repository of mass spectrometry derived data from a diverse range of tissues, biofluids or cell cultures that contain ECM proteins.</p>
    <p>Findings in this area of research are likely to provide paradigm shifts in our understanding of diseases and the types of proteins considered for therapeutic targeting, and as sources of diagnostic markers.</p>
    <div class="about-link">
      {{#link-to 'explore' class="btn btn-default btn-lg"}}Start Exploring!{{/link-to}}
    </div>
  </article>
</section>
