{{partial 'atlas/header'}}

<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <div class="card" style="margin-top:100px; padding:5px;">

    <header>
      Datasets
    </header>
    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              {{#link-to 'dataset'}}
                ECM Atlas - Tissue Weight Norms
              {{/link-to}}
            </td>
            <td>10/20/2014</td>
          </tr>
        </tbody>
      </table>
    </section>

    </div>
  </div>
</div>