{{partial 'atlas/header'}}

<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <div class="card" style="margin-top:100px; padding:5px;">

    <header>
      Datasets
    </header>
    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        {{#each set in content itemController="dataset"}}
          <tr>
            <td>{{set.id}}</td>
            <td>
              {{#link-to 'dataset' set.id}}
                {{set.name}}
              {{/link-to}}
            </td>
            <td>{{set.formattedDate}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </section>

    </div>
  </div>
</div>