{{partial 'atlas/header'}}

<div class="container-fluid">
  <div class="col-md-12">
    <div class="card" style="margin-top:100px; padding:5px;">

    <header>
      Dataset: ECM Atlas - Tissue Weight Norms (10/20/2014)
    </header>
    <section>
      <table class="table table-striped">
<tr><td>PeptideSequence</td><td>Gene</td><td>MW</td><td>Protein</td><td>Functional</td><td>Family</td><td>Species</td><td>Isotope</td><td>Peptide.Note</td><td>TissueWeightNorm</td></tr>
<tr><td>LQLLEDLER</td><td>LAMB1</td><td>197090</td><td>Laminin Beta-1</td><td>Basement Membrane</td><td>Glycoprotein</td><td>mouse/rat</td><td>light</td><td>S12</td><td>11.29872722</td></tr>
<tr><td>LSAEDLVLEGAGLR</td><td>LAMC1</td><td>177387</td><td>Laminin Gamma-1</td><td>Basement Membrane</td><td>Glycoprotein</td><td>shared</td><td>light</td><td></td><td>3.931957074</td></tr>
<tr><td>YALSNSIGPVR</td><td>NID1</td><td>137039</td><td>Nidogen-1</td><td>Basement Membrane</td><td>Glycoprotein</td><td>shared</td><td>light</td><td>S12</td><td>11.50210431</td></tr>
<tr><td>YELGSGLAVLR</td><td>HSPG2*</td><td>375271</td><td>Perlecan(Endorepellin)</td><td>Basement Membrane</td><td>Proteoglycan</td><td>shared</td><td>light</td><td>S1</td><td>4.51949089</td></tr>
<tr><td>AHLPLDINFR</td><td>LAMA4</td><td>201819</td><td>Laminin alpha-4</td><td>Basement Membrane</td><td>Glycoprotein</td><td>shared</td><td>light</td><td>?</td><td>9.338579786</td></tr>
<tr><td>HQTHGSLLR</td><td>HSPG2</td><td>375271</td><td>Perlecan</td><td>Basement Membrane</td><td>Proteoglycan</td><td>shared</td><td>light</td><td></td><td>8.14964023</td></tr>
<tr><td>LSAEDLVLEGAGLR</td><td>LAMC1</td><td>177387</td><td>Laminin Gamma-1</td><td>Basement Membrane</td><td>Glycoprotein</td><td>shared</td><td>light</td><td></td><td>3.761372414</td></tr>
<tr><td>AHGQDLGTAGSCLR</td><td>COL4A1/5*</td><td>160613</td><td>Collagen alpha-1/5(IV) chain(Arresten/Core Protein)</td><td>Basement Membrane</td><td>Collagen</td><td>shared</td><td>light</td><td>S12</td><td>73.49997616</td></tr>
<tr><td>GLDGFQGPSGPR</td><td>COL4A2</td><td>161386</td><td>Collagen alpha-2(IV) chain</td><td>Basement Membrane</td><td>Collagen</td><td>shared</td><td>light</td><td></td><td>47.30156763</td></tr>
<tr><td>SAPFIECHGR</td><td>COL4A1/5*</td><td>160613</td><td>Collagen alpha-1/5(IV) chain(Arresten/Core Protein)</td><td>Basement Membrane</td><td>Collagen</td><td>shared</td><td>light</td><td>S12M12</td><td>26.49707488</td></tr>
</table>


    </section>

    </div>
  </div>
</div>