<div id="left-nav">
  {{partial 'atlas/left-nav-menu'}}
  <div style="margin: 70px 0;">
  {{tissues-diagram tissueList=tissues activeTissue=tissue}}
  </div>
</div>
<div id="main">
  {{outlet}}
</div>