{{partial 'atlas/header'}}

<div class="container" style="margin-top:70px">
  <div class="front-wrap">
    <div class="intro-wrap">
      <h1 class="title">Welcome to the ECM Atlas</h1>
      <p>Providing an interactive look into the world of extracellular matrix proteins. </p>
      <hr>
      {{#link-to 'about' class="btn btn-info btn-lg btn-block"}}New to Proteomics?{{/link-to}}
    </div>
    <div class="flex-boxes">
      <a href="/explore" class="flex-box flex-box-big">
        <i class="fa fa-4x fa-globe"></i>
        <h1 class="flex-title">Explore</h1>
        <p>Explore the ECM Atlas using our interactive tissue map. Here you can browse all of our proteins, tissue by tissue.</p>
      </a>

      <a href="/explore/protein/5" class="flex-box">
        <i class="fa fa-4x fa-flask"></i>
        <h1 class="flex-title">Protein of the Day</h1>
        <p class="flex-sub-title">Collagen alpha-2(VI) chain</p>
        <p>Click to learn more</p>
      </a>
      <a href="/datasets/1" class="flex-box">
        <i class="fa fa-4x fa-file-text"></i>
        <h1 class="flex-title">Our Latest Uploads</h1>
        <p class="flex-sub-title">ECM Atlas - Tissue Weight Norms</p>
        <p>10/20/2014</p>
      </a>
      <a href="/datasets" class="flex-box">
        <i class="fa fa-4x fa-database"></i>
        <h1 class="flex-title">Datasets</h1>
        <p>View and download all the raw data that powers the atlas.</p>
      </a>
    </div>
  </div>
</div>